<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  th:lang="${#locale.language}">
<header>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">


	<title>Checkout example for Bootstrap</title>
	<!-- Bootstrap core CSS -->
	<link th:href="@{~/bootstrap4/css/bootstrap.min.css}" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="@{~/bootstrap4/css/form-validation.css}" rel="stylesheet">
</header>

<body>
<header th:insert="fragments.html :: headerfiles">
</header>
<header th:insert="fragments.html :: nav">
</header>



<div class="container-fluid">

	<ul class="breadcrumb">
		<li><a href="#">Home</a> <span class="divider">/</span></li>
		<li><a href="#">Checkout</a> <span class="divider">/</span></li>
		<li class="active">Cart-Product</li>
	</ul>


	<div class="row">

		<div class="col-md-8">
			<ul class="list-group">

				<li class="list-group-item">

					<div class="form-group">
						<div class="row">
							<label class="form-control">Firmenname</label>
							<input class="input-group-text col-12" type="text" name="frimenname">


						</div>
					</div>

				</li>

				<li class="list-group-item">

					<div class="form-group">
						<div class="row">
							<label class="form-control">Vorname / Nachname </label>
							<input class="input-group-text col-6" type="text" name="vorname">


							<input class="input-group-text col-6" type="text" name="nachname">
						</div>
					</div>

				</li>

				<li class="list-group-item">

					<div class="form-group">
						<div class="row">
							<label class="form-control">Strasse / Hausnummer</label>
							<input class="input-group-text col-12" type="text" name="strasse">
						</div>
					</div>

				</li>

				<li class="list-group-item">

					<div class="form-group">
						<div class="row">
							<label class="form-control">Plz / Ort</label>
							<input class="input-group-text col-4" type="text" name="plz">
							<input class="input-group-text col-8" type="text" name="ort">
						</div>
					</div>
				</li>

				<li class="list-group-item">

					<div class="form-group">
						<div class="row">
							<label class="form-control">Telefon</label>
							<input class="input-group-text col-12" type="text" name="plz">
						</div>
					</div>

				</li>

			</ul>
		</div>

		<div class="col-md-4">
			<ul class="list-group">
				<li class="list-group-item">
					<div>
						<h6 class="my-0">Warenkorb</h6>
						<small class="text">Brief description</small>
					</div>
					<span class="text">€12</span>
				</li>

				<li class="list-group-item">
					<span>Total (€)</span>
					<strong>€ 20</strong>
				</li>

			</ul>


		</div>

	</div>


</div>




</body>
</html>