<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${lang}">
<header>
    <meta charset="ISO-8859-1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>About</title>


    <link th:href="@{bootflat/css/bootstrap.min.css}" rel="stylesheet" />

    <link th:href="@{bootstrap/css/bootstrap-grid.min.css}" rel="stylesheet" />
    <link th:href="@{bootstrap/css/bootstrap-reboot.css}" rel="stylesheet" />
    <link th:href="@{bootstrap/css/bootstrap.min.css}" rel="stylesheet" />




</header>
<body>
<div class="container">
    <h2>
        About
    </h2>
    <p>Test Page</p>

</div>
</body>

<script th:src="@{jquery-3.6.4.min.js}"></script>
<script th:src="@{bootflat/js/bootstrap.min.js}"></script>
<script th:src="@{bootstrap/js/bootstrap.bundle.js}"></script>
<script th:src="@{bootstrap/js/bootstrap.min.js}"></script>
</html>