<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" th:lang="${lang}">
<header>
    <meta charset="ISO-8859-1">
    <title>Demo Git Webshop</title>

    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="ISO-8859-1">
    <title>Demo Git Webshop</title>

    <meta name="description" content="demogitjava webshop">
    <meta name="description" content="demogit java webshop">
    <meta name="description" content="demo git java webhshop">
    <meta name="description" content="https://github.com/demogitjava/webshop">
    <!--
        <meta name="google-site-verification" content="google3bcc7fb369b1dc91.html">
    -->
    <meta name="description" content="Spring Boot Webshop, H2 Database">
    <meta name="description" content="Spring Boot, Docker, Thymeleaf, Bootstrap, Java, GraalVM, MaWi Software, Fibu Software">



    <meta name="keywords" content="springboot, Java spring boot, spring boot java" />
    <meta name="keywords" content="h2database, h2 database download, h2 database spring boot, h2 console" />
    <meta name="keywords" content="Spring Boot, spring boot, Thymeleaf, Bootstrap, Java, GraalVM" />
    <meta name="keywords" content="webshop,financial accounting" />
    <meta name="keywords" content="H2 Database" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link th:href="@{bootflat/css/bootstrap.min.css}" rel="stylesheet" />

    <link th:href="@{bootstrap/css/bootstrap-grid.min.css}" rel="stylesheet" />
    <link th:href="@{bootstrap/css/bootstrap-reboot.css}" rel="stylesheet" />
    <link th:href="@{bootstrap/css/bootstrap.min.css}" rel="stylesheet" />

    <script th:src="@{jquery-3.6.4.min.js}"></script>
    <script th:src="@{bootflat/js/bootstrap.min.js}"></script>
    <script th:src="@{bootstrap/js/bootstrap.bundle.js}"></script>
    <script th:src="@{bootstrap/js/bootstrap.min.js}"></script>




</header>
<body>

<!--

    user is not loggedin
-->
<div sec:authorize="!isAuthenticated()">

    <nav id="navigationbootstrap" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#" >Simple Demo Webshop page</a> <!-- Company Name -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#" >  HOME <!-- Home -->
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about" >About</a>  <!-- about -->
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact" >Contact</a>  <!-- Contact -->
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>  <!-- Login -->
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</div>

<!--

        user is loggedin
-->
<div sec:authorize="isAuthenticated()">

    <nav id="navigationbootstraplogin" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#" th:text="${webtextcomp[0].de}"></a> <!-- Company Name -->

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarResponsivelogin">

                <ul class="navbar-nav ml-auto">

                    <li class="nav-item">
                        <a class="nav-link" href="/admin">admin</a>  <!-- admin -->
                    </li>





                    <li class="nav-item">
                        <a class="nav-link" th:text="${lgusername}" href="/profile"></a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" href="/userprofile/">Benutzerprofil</a>  <!-- Webpagebuilder -->
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>  <!-- Logout -->
                    </li>

                </ul>
            </div>


        </div>
    </nav>

</div>

    <div class="container">

        <div class="row">row

        </div>
        <div class="row">row

        </div>
        <div class="row">row

        </div>
        <div class="row">row

        </div>
        <div class="row">

        </div>


        <div class="row">

            <!--
                    search Text Field
            -->
            <div class="col-sm-12">

                <form action="#" th:action="@{/searchProduct}" method="post">
                    <div class="input-group mb-3">
                        <input name="searchProduct" type="text" class="form-control" placeholder="search your item" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-primary">Search</button>
                        </div>
                    </div>
                </form>

            </div>


            <!--

                    Products Bar
            -->
            <div class="d-flex justify-content-start p-2">
                <a class="list-group-item mr-2" th:href="@{'/'}">All Product</a>
                <a class="list-group-item mr-2"	th:each="category : ${categoryList}"
                   th:text="${category.categoryName}" th:href="@{'/getProducts/' + ${category.categoryId}}"></a>
            </div>


            <!--
                    Product List
            -->
            <div class="col-sm-12">

                <div class="row">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div th:each="product : ${productList}">
                                <div class="card">
                                    <div>
                                        <div class="card-header">
                                            <h5 th:text="${product.productName}" class="card-title"></h5>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-3">

                                                <img id="imagecardproduct" th:src="@{${product.image}}" class="card-img-top" alt="Product Image" width="400" height="250">
                                            </div>
                                            <div class="col-sm-9">
                                                <div class="card-body">

                                                    <p th:text="${product.productDescription}"></p>

                                                </div>
                                                <div class="card-footer">

                                                    <p th:text="'$ '+${product.productPrice}"></p>
                                                    <a th:href="@{'~/shoppingcart/addToCart/' + ${product.productId}}" class="btn btn-primary">AddToCart</a>

                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>




            <!---
            works on firefox

        <script type="text/javascript">

            var language = window.navigator.language;

            switch (language) {
                case 'en':
                    window.location.href = '/en/';
                    break;

                case 'it':
                    window.location.href = '/it/';
                    break;

                case 'fr':
                    window.location.href = '/fr/';
                    break;

                case 'tr':
                    window.location.href = '/tr/';
                    break;

                case 'es':
                    window.location.href = '/es/';
                    break;

                case 'de':

                    break;

                case 'de_DE':

                    break;

                default:
                    window.location.href = '/index.html';
            }

        </script>

        -->



        </div>
    </div>

</body>
</html>

