/*


.input-group
{
    height: 150px;
    background-color: #f8f8f8;

}

.form-control{
    height: 150px;
}



.max-lines {
    display: block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 650px;
    line-height: 48px;
}
 */



p2
{
    height: auto;
}